@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
    text-align:center /*All the elements in the project are center, so text-align is apply on body*/;
    font-family: 'Lato', sans-serif;
    color: #898989;
    font-size: 1.3em;
}

/*Bouton*/
.button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.3rem;
    text-align: center;
    color: #898989;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button:hover {
    background-color:#898989;
    color: white;
}
.button:active {
    background-color:#666666;
    color: white;
}
    


.score {
    background-color: #cd4d4c;
}

/*
CHANGE SVG COLOR
Source : https://qastack.fr/programming/22252472/how-to-change-the-color-of-an-svg-element
Convert color to filter with https://codepen.io/sosuke/pen/Pjoqqp
*/
.filter-red {
    filter: invert(75%) sepia(56%) saturate(6350%) hue-rotate(323deg) brightness(80%) contrast(102%);
}

.playerTitle{
    font-size: 2.5em;
    font-weight: 300;
}

.roundScoreTitle{
    color: black;
    font-weight: 300;
}

#globalScorePlayer1, #globalScorePlayer2{
    font-size: 3.5em;
    font-weight: 100;
    color: #cd4d4c;
}

#roundScorePlayer1, #roundScorePlayer2{
    font-size: 2em;
    font-weight: 300;
    color: white;
}

.iconSize{
    height: 1.2em;
}

.background1 {
    background: linear-gradient(to left, #ffffff 50%, #f7f7f7 50%);
}

.background2 {
    background: linear-gradient(to left, #f7f7f7 50%, #ffffff 50%);
}
